<ion-header>
  <ion-toolbar>
    <ion-title>admin</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Añadir autor-->
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-title>Agregar autor</ion-title>
    </ion-card-header>
    <ion-card-content>
      <form #formulario="ngForm" (ngSubmit)="onSubmitTemplate()">
        <ion-list>
          <ion-item style="margin-right: 10px; margin-left: 10px;">
            <ion-label position="stacked">Nombre del autor</ion-label>
            <ion-input required placeholder="Ej. Charles Bukowski" type="text" name="autorName"
              [(ngModel)]="autor.autorName"></ion-input>
          </ion-item>
          <ion-item style="margin-right: 10px; margin-left: 10px;">
            <ion-label position="stacked"> Imagen</ion-label>
            <ion-input required placeholder="../../../assets/images/" name="imagen" type="file" accept=".png, .jpg"
              [(ngModel)]="autor.image"></ion-input>
          </ion-item>
          <ion-item style="margin-right: 10px; margin-left: 10px;">
            <ion-label position="stacked"> Biografía</ion-label>
            <ion-input required placeholder="Ej. Nacio en una villa...." name="biography" type="text"
              [(ngModel)]="autor.bio"></ion-input>
          </ion-item>
          <ion-item style="margin-right: 10px; margin-left: 10px;">
            <ion-label position="stacked">Fecha de nacimiento</ion-label>
            <ion-input required placeholder="Ej. 1999/04/03" name="birthDate" type="date" [(ngModel)]="autor.birthDate">
            </ion-input>
          </ion-item>
        </ion-list>
        <ion-row>
          <ion-col></ion-col>
          <ion-col>
            <ion-button expand="block" color="secondary" type="submit">
              Añadir
            </ion-button>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </form>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-title> Agregar Libro </ion-title>
    </ion-card-header>
    <ion-item>
      <ion-label> Seleccionar autor </ion-label>
      <ion-select id="selectedAuthor" [(ngModel)]="selectedAuthor">
        <ion-select-option *ngFor="let author of authors"> {{author.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Titulo: </ion-label>
      <ion-input required placeholder="Ej. los tres cerditos" type="text" name="bookTitle" [(ngModel)]="tituloLibro">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Capitulos </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Titulo capitulo: </ion-label>
      <ion-input required placeholder="Ej. capitulo 1" type="text" name="tituloCapitulo" [(ngModel)]="tituloCapitulo">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Contenido: </ion-label>
      <ion-input required placeholder="Ej. Una vez...." type="text" name="contenido" [(ngModel)]="contenido">
      </ion-input>
    </ion-item>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-button expand="block" color="secondary" type="submit" (click)="addCapitulo()">
          Añadir Capitulo
        </ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-item>
      <ion-label>Quiz</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Añadir pregunta</ion-label>
      <ion-input required placeholder="Ej. ¿Quién era...?" name="bio" type="string" [(ngModel)]='question'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Añadir respuesta correcta</ion-label>
      <ion-input required placeholder="Ej. Respuesta 1" name="bio" type="string" [(ngModel)]='correctAnswer'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Añadir respuesta 2</ion-label>
      <ion-input required placeholder="Ej. Respuesta 2" name="bio" type="string" [(ngModel)]='option1'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Añadir respuesta 3</ion-label>
      <ion-input required placeholder="Ej. Respuesta 3" name="bio" type="string" [(ngModel)]='option2'></ion-input>
    </ion-item>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-button expand="block" color="secondary" type="submit" (click)="addQuiz()">
          Añadir Quiz
        </ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-button expand="block" color="secondary" type="submit" (click)="addBook()">
          Añadir Libro
        </ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-card>