<ion-card-header>
  <ion-card-header>{{tetha}}</ion-card-header>
</ion-card-header>
<div>
  <ion-radio-group [(ngModel)] ="choosed">
    <ion-item>
      <ion-label class="ion-text-wrap">{{map.get(tetha)[0]}}</ion-label>
      <ion-radio  value="{{map.get(tetha)[0]}}"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">{{map.get(tetha)[1]}}</ion-label>
      <ion-radio  value="{{map.get(tetha)[1]}}"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">{{map.get(tetha)[2]}}</ion-label>
      <ion-radio value="{{map.get(tetha)[2]}}"></ion-radio>
    </ion-item>
  </ion-radio-group>
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-button size="small" expand="block" color="success" (click)= "add()">Siguiente</ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</div>
<ion-footer>
  <ion-progress-bar color="secondary" value="{{answers.length/respuestas.length}}"></ion-progress-bar>
</ion-footer>
