<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>notes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <ion-card style="margin: auto; width: 80%;">
    <ion-card-content>
      <ion-item>
        <ion-textarea rows="12" placeholder="Introduce tu apunte...."></ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>
<br>
  <ion-button expand="block" color="success" style="margin: auto; width: 80%;">Guardar</ion-button>
</ion-content>
