<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>notes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <div>
      <h2 style="text-align: center;">{{libro}}</h2>
  </div>
  <ion-card style="margin: auto; width: 80%;">
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Escribe algo....</ion-label>
        <ion-textarea rows="12" value={{apunteAntiguo}} [(ngModel)]=apunte>
        </ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>
<br>
  <ion-button (click)="guardarApunte(apunte)" routerLinkActive="router-link-active"  expand="block" color="success" style="margin: auto; width: 80%;">Guardar</ion-button>
</ion-content>
