<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Biografia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12">
  <ion-card>
    <ion-card-header>
      <ion-card-title style="text-align: center;">{{name}}</ion-card-title>
      <ion-card-subtitle style="text-align: center;">1960-2000</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        <p>
      <img src="https://www.elsiglodetorreon.com.mx/m/i/2017/10/992228.jpeg" style="width: 350px; height: 200px;">
      Su madrina fue la duquesa Mariana Girino. Fue al colegio y al seminario, donde estudió retórica y filosofía. Gracias a esto tuvo acceso a los libros prohibidos por la Iglesia y el propio Duque. Su primer trabajo fue en una librería a los 18 años. Su activo interés en la política hizo que sus primeras obras literarias se publicaran en el periódico satírico Il Lampione. El periódico fue censurado por orden del Gran Duque de Toscana en 1849 pero reapareció en mayo de 1860.
      A principios de 1856 alcanzó la fama con su novela In vapore y su intensa actividad en otros periódicos políticos como Il Fanfulla. En 1859 participó en la Segunda Guerra de la Independencia Italiana como soldado regular del ejército piamontés. Tras la guerra, regresó a Florencia. Desde 1860 fue empleado de la Comisión para la Censura del Teatro. Durante este tiempo escribió varios cuentos y relatos satíricos (algunos simples recopilaciones de sus anteriores artículos), incluyendo Macchiette (1880), Occhi e nasi (1881), Storie allegre (1887).
      En 1875 entró en la literatura infantil con Racconti delle fate, una traducción de los cuentos de hadas en francés de Perrault. En 1876 escribió Giannettino (inspirado por el Giannetto de Alessandro Luigi Parravicini ), Minuzzolo e Il viaggio per l'Italia di Giannettino, una serie desde la que explora la reunificación de Italia desde el prisma irónico de Giannettino.
      Collodi estaba fascinado por la idea de usar un carácter amigable para expresar sus propias convicciones mediante alegorías. En 1880 comenzó a escribir Storia di un burattino ("Historia de un títere"), también llamado pinocho, que era publicado semanalmente en Il Giornale dei Bambini (el primer periódico italiano para niños).
      Collodi murió en Florencia el 26 de octubre de 1890, a los 64 años, de un ataque cardíaco.
    </p>
    </ion-card-content>
  </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
