<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img style="width: 100px; height: 100px;" src="http://kimera.com/data/img/RED_LOCAL.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row style="margin-bottom: 30px;">
      <h1 style="margin-left: 40%; margin-bottom: 0%;">CLASICOS DE LA</h1>
      <h1 style="margin-left: 5%; margin-top: 0%;">LITERATURA INFANTIL</h1>
    </ion-row>
    <ion-row style="margin-bottom: 30px;">
      <ion-col>
        <ion-button color="warning" style="width: 140px; height: 50px; margin-right: 30px">Por autor</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="warning" style="width: 160px; height: 50px;">Todos los libros</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="success" style="width: 140px; height: 50px; margin-right: 30px">Autores</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="success" style="width: 140px; height: 50px;">Presentación</ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 30px;">
      <ion-col style="margin-left: 28%;">
        <ion-button color="success" style="width: 140px; height: 50px;">Orientación</ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 30px;">
      <ion-col style="align-items: center;">
        <ion-img src="https://i.pinimg.com/originals/36/d4/62/36d46285c8bc86c5f0d9238275887f88.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 30px;">
      <ion-col style="margin-left: 30%;">
        <ion-button COLOR="danger" style="width: 140px; height: 50px;">SALIDA</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>