<ion-header style="position: unset;" no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Autores</ion-title>
  </ion-toolbar>
  <ion-grid fixed style="background-color: white;">
    <ion-searchbar animated
    (ionChange)="search($event)" style="background-color: white;"></ion-searchbar>
  </ion-grid>

</ion-header>
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size-lg="12" size-md="4" size-sm="6" size-xs="12" *ngFor= 'let author of authors | filterAuthor: textoBuscar'>
        <ion-list>
          <ion-item (click)="biography(author.id)">
            <ion-avatar slot="start">
              <img src={{author.image}}>
            </ion-avatar>
            <ion-label>
              <h2>{{author.name}}</h2>
              <h3></h3>
              <p>Biografia</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>