<ion-header style="position: unset;" no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Autores</ion-title>
  </ion-toolbar>
  <ion-grid fixed style="background-color: white;">
    <ion-searchbar style="background-color: white;"></ion-searchbar>
  </ion-grid>

</ion-header>
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size-lg="12" size-md="4" size-sm="6" size-xs="12" *ngFor= 'let author of authors'>
        <ion-list>
          <ion-item button>
            <ion-avatar slot="start">
              <img src="https://www.elsiglodetorreon.com.mx/m/i/2017/10/992228.jpeg">
            </ion-avatar>
            <ion-label>
              <h2>{{author.name}}</h2>
              <h3>1860 - 2010</h3>
              <p>Biografia</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>