<ion-header style="position: unset;" no-border>
  <ion-toolbar>

      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>Autores</ion-title>


 <!----  <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Autores</ion-title>-->

  </ion-toolbar>

  <ion-grid fixed style="background-color: white;"> 
  <ion-searchbar style="background-color: white;"></ion-searchbar>
</ion-grid>
  
</ion-header>


<ion-content >

  <ion-grid fixed>   
    <ion-row>
      <ion-col size-lg="12" size-md="4" size-sm="6" size-xs="12">
      <ion-list>
        <ion-item button>
          <ion-avatar slot="start">
            <img src="https://www.elsiglodetorreon.com.mx/m/i/2017/10/992228.jpeg">
          </ion-avatar>
          <ion-label>
            <h2>Titulo de autor</h2>
                <h3>1860 - 2010</h3>
                <p>Biografia</p>
          </ion-label>
        </ion-item>

        <ion-item button>
          <ion-avatar slot="start">
            <img src="https://www.elsiglodetorreon.com.mx/m/i/2017/10/992228.jpeg">
          </ion-avatar>
          <ion-label>
            <h2>Titulo de autor</h2>
                <h3>1860 - 2010</h3>
                <p>Biografia</p>
          </ion-label>
        </ion-item>

        <ion-item button>
          <ion-avatar slot="start">
            <img src="https://www.elsiglodetorreon.com.mx/m/i/2017/10/992228.jpeg">
          </ion-avatar>
          <ion-label>
            <h2>Titulo de autor</h2>
                <h3>1860 - 2010</h3>
                <p>Biografia</p>
          </ion-label>
        </ion-item>

        <ion-item button>
          <ion-avatar slot="start">
            <img src="https://www.elsiglodetorreon.com.mx/m/i/2017/10/992228.jpeg">
          </ion-avatar>
          <ion-label>
            <h2>Titulo de autor</h2>
                <h3>1860 - 2010</h3>
                <p>Biografia</p>
          </ion-label>
        </ion-item>

        <ion-item button>
          <ion-avatar slot="start">
            <img src="https://www.elsiglodetorreon.com.mx/m/i/2017/10/992228.jpeg">
          </ion-avatar>
          <ion-label>
            <h2>Titulo de autor</h2>
                <h3>1860 - 2010</h3>
                <p>Biografia</p>
          </ion-label>
        </ion-item>

        
      </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>





<!----
  <ion-list>
  <ion-item button  size-lg="4" size-md="4" size-sm="6" size-xs="12" fixed>
    <ion-avatar slot="start">
      <img src="https://www.elsiglodetorreon.com.mx/m/i/2017/10/992228.jpeg">
    </ion-avatar>
    <ion-label>
      <h2>Titulo de autor</h2>
          <h3>1860 - 2010</h3>
          <p>Biografia</p>
    </ion-label>
  </ion-item>
</ion-list>-->


</ion-content>