<ion-header>
  <ion-toolbar>
    <ion-title>Trivia</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title style="text-align: center;"> Los tenores</ion-card-title>
          </ion-card-header>
          <ion-img src="https://data.ecasals.net/img/04/g/9788478648511_04_g.jpg"></ion-img>
          <ion-card-content>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Maecenas consectetur tincidunt gravida. Curabitur ullamcorper viverra nibh, vel accumsan magna varius quis.
            Ut at gravida lorem. Vestibulum congue vel urna lobortis commodo. In tincidunt ornare feugiat.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid fixed>
    <ion-row>
      <ion-col size-lg="12" size-md="4" size-sm="6" size-xs="12">
        <ion-list>
          <ion-item>
            <ion-label></ion-label>
            <ion-checkbox slot="end"></ion-checkbox>
          </ion-item>
        </ion-list>
        <ion-grid>
          <ion-row>
            <ion-col></ion-col>
            <ion-col size-lg="12" size-md="4" size-sm="6" size-xs="12">
              <ion-button style="margin-bottom: 15px;" expand="block" color="success"> SIGUIENTE </ion-button>
              <ion-button expand="block" color="danger"> SALIR </ion-button>
            </ion-col>
            <ion-col></ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>