<ion-header style="position: unset;" no-border>
  <ion-toolbar>
    <ion-title style="text-align: center;">Libros por autor</ion-title>
  </ion-toolbar>

  <ion-grid fixed style="background-color: white;"> 
  <ion-searchbar animated
  (ionChange)="search($event)"
  style="background-color: white;"></ion-searchbar>
</ion-grid>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size-lg="4" size-md="4" size-sm="6" size-xs="12"
      *ngFor = 'let author of authors | filterAuthor: textoBuscar'>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>{{author.name}}</ion-card-subtitle>
            <ion-item>
              <ion-avatar>
                <ion-img src="{{author.image}}">
                </ion-img>
              </ion-avatar>
              <ion-button (click)= "biography(author.id)" size="small" fill="outline" slot="end">Biografía</ion-button>
            </ion-item>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-slides pager="true">
                <ion-slide *ngFor = 'let book of author.books'>
                  <ion-grid style="padding-bottom: 15%;">
                    <ion-row>                        
                      <ion-col>
                        <img (click)=read(book.titulo) src="{{book.imagen}}"/>
                      </ion-col>
                    </ion-row>
                      <ion-row>
                        <ion-col>
                          <div *ngIf= "book.trivia==true">
                            <ion-button (click)= "quiz(book.titulo)" size="small" expand="block"  color="success">Quiz</ion-button>
                          </div>
                          <div *ngIf= "book.trivia==false">
                            <ion-button size="small" expand="block"  color="medium">Quiz</ion-button>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                </ion-slide>
              </ion-slides>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>