<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="border-width: 2px;">
    <ion-row>
      <ion-col>
        <ion-text>
          <h2 style="text-align: center;">TITULO</h2>
        </ion-text>
        <ion-text>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis libero enim, faucibus quis pellentesque ac, molestie eu metus. Suspendisse efficitur facilisis nibh in porttitor. Ut consequat lacinia augue sit amet suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod nibh quis facilisis efficitur. Etiam placerat leo quis orci vehicula placerat pulvinar eget magna. Aenean tincidunt in arcu non mattis. Pellentesque sed bibendum mauris. Nunc efficitur, eros a semper egestas, massa lorem cursus leo, non pretium quam massa id sem. Vivamus efficitur fermentum dui, vel hendrerit purus feugiat vitae. Nullam quis magna laoreet, tincidunt nisl quis, pharetra dui. Duis massa lacus, lacinia nec nisl quis, imperdiet maximus odio. Sed pulvinar neque metus, nec egestas libero lobortis sed. Nullam tristique viverra elit, ac consequat nunc pretium varius. Duis sed augue nec purus posuere malesuada</p>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-icon name="megaphone-outline"></ion-icon></ion-col>
      <ion-col><ion-icon name="search-outline"></ion-icon></ion-col>
      <ion-col>
        <ion-icon name="chevron-back-outline"></ion-icon>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon name="eye-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
