<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--ion-background-color:{{backgroundColor}};" fullscreen>
  <div style="text-align: left; background-color: {{backgroundColor}}">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text>
          <h2 style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: xx-large; text-align: center; margin-bottom: 0%; color: {{textColor}}">{{initalPage}}</h2>
        </ion-text>
          <ion-text>
            <p style="font-family:Arial, Helvetica, sans-serif; text-align: left; padding: 5%; font-size: {{textSize}}; color: {{textColor}}">{{initialContent}} </p>
          </ion-text>
        </ion-col>
    </ion-row>
  </ion-grid>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col><ion-icon (click)="speech()"  name="volume-medium-outline"></ion-icon></ion-col>
      <ion-col><ion-icon (click)="stopSpeech()" name="volume-mute-outline"></ion-icon></ion-col>
      <ion-col><ion-icon (click)="zoom()"name="add-circle-outline"></ion-icon></ion-col>
      <ion-col><ion-icon (click)="backPage()" name="chevron-back-outline"></ion-icon></ion-col>
      <ion-col><ion-icon (click)="nextPage()" name="chevron-forward-outline"></ion-icon></ion-col>
      <ion-col>
        <ion-icon (click)="noctMode()"name="eye-outline"></ion-icon>
      </ion-col>
      <ion-col>
        <div>
          <ion-icon (click)="name()"name="create-outline"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
