<ion-header style="position: unset;" no-border>
  <ion-toolbar>
    <ion-title style="text-align: center;">Todos los libros</ion-title>
  </ion-toolbar>

  <ion-grid fixed style="background-color: white;">
    <ion-searchbar style="background-color: white;"></ion-searchbar>
  </ion-grid>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size-lg="4" size-md="4" size-sm="6" size-xs="12" *ngFor='let book of books;'>
        <ion-card>
          <ion-card-header>
            <ion-card-title style="text-align: center;">{{book.titulo}}</ion-card-title>
          </ion-card-header>
          <img src="{{ book.imagen }}" />
          <ion-card-content style="align-content: center;">
            <ion-row>
              <ion-col>
                <ion-button expand="block" color="success">Leer</ion-button>
              </ion-col>
              <ion-col>
                <div *ngIf="book.trivia">
                  <ion-button expand="block" color="success">Quiz</ion-button>
                </div>
                <div *ngIf="!book.trivia">
                  <ion-button expand="block" color="medium">Quiz</ion-button>
                </div>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>