<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Favoritos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="length > 0">
  <ion-grid fixed>
    <ion-row>
      <ion-col size-lg="4" size-md="4" size-sm="6" size-xs="12" *ngFor= 'let book of books'>
       <ion-card> 
          <div *ngIf= "book.favorito">
            <ion-card-header>
              <ion-card-title style="text-align: center;">{{book.titulo}}</ion-card-title>
            </ion-card-header>
            <img src="{{ book.imagen }}" />
            <ion-card-content style="align-content: center;">
              <ion-row>
                <ion-col>    
                  <ion-icon class="icon icon-large"  name="create" (click)="name(book.titulo)"></ion-icon>
                </ion-col>
                <ion-col>
                </ion-col>
                <ion-col>
                  <ion-icon class="icon icon-large" name="heart" (click)="unFav(book.titulo,book.imagen,book.apunte)" ></ion-icon>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="length==0">
  <img src="../../../assets/images/nada.gif" style="width: 100%; height: 95%;">
</ion-content>

<ion-content *ngIf="id==null">

 
    <ion-card style="
    width: 300px;text-align: center;
    margin-left: 50%;
    justify-content: center;
    top: 51px;
    transform: translateX(-50%);">
      <ion-card-header>
        <ion-card-title>No estas autenticado</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Para acceder a esta seccion debes tener una cuenta o debes iniciar sesion
        <br>
        <br>
        <div>
        <ion-button color="success" expand="block" (click)="route('login')">Iniciar sesion</ion-button>
        <ion-button color="success"  expand="block" color="secondary" (click)="route('register')">Registrarse</ion-button>
      </div>


      </ion-card-content>
    </ion-card>
  


</ion-content>
