<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Favorites</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size-lg="4" size-md="4" size-sm="6" size-xs="12" *ngFor= ' let author of authors'>
        <ion-card *ngFor= ' let book of author.books'>
          <div *ngIf= "book.favorito">
            <ion-card-header>
              <ion-card-title style="text-align: center;">{{book.titulo}}</ion-card-title>
            </ion-card-header>
            <img src="{{ book.imagen }}" />
            <ion-card-content style="align-content: center;">
              <ion-row>
                <ion-col>
                  <ion-icon class="icon icon-large"  name="create" style="margin-left: 50%;"></ion-icon>
                </ion-col>
                <ion-col>
                  <ion-icon class="icon icon-large" name="heart" style="margin-right: 50%;" (click)="book.favorito=false"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
